 <!-- Toolbar móvil fijo -->
    @if(isMobile){
<!-- Toolbar estilo Android en la parte superior -->
<div class="android-toolbar">
  <button class="android-toolbar-button" (click)="openSidenav()">
    <mat-icon style="color: white;">menu</mat-icon>
    <span>Menú</span>
  </button>
  
  <button class="android-toolbar-button" (click)="onNotifications()">
    <mat-icon style="color: white;">local_shipping</mat-icon>
    <span>Operaciones</span>
  </button>
  
  <button class="android-toolbar-button" (click)="cerrarSesion()">
    <mat-icon style="color: white;">logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</div>
}

<mat-sidenav-container class="example-container">
  <!-- <mat-sidenav #sidenav mode="side" opened> -->
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile || sidenavOpened"
  >
    <mat-nav-list>
      <app-avatar></app-avatar>

      <div
        style="
          width: 100%;
          height: 85vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        "
      >
        <a
          mat-list-item
          [routerLink]="['/conductor/driverTrack']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>local_shipping</mat-icon>
          Operaciones
        </a>

        <div>
          <hr />
          <a mat-list-item (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
            Cerrar Sesion
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
@if(isMobile){
      <button 
        mat-icon-button
        class="menu-button"
        (click)="openSidenav()"        
      >
        <mat-icon>menu</mat-icon>
      </button>
      }

    <div class="container-layout">
      
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
