<h2 mat-dialog-title>
    <mat-icon>edit_note</mat-icon> {{titulo}}
</h2>
<mat-dialog-content>
    <form [formGroup]="conductorForm" style="padding: 5px; display: flex; flex-direction: column;">

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <div style="display: flex; gap: 5px;">
            <mat-form-field appearance="outline">
                <mat-label>Licencia</mat-label>
                <input matInput formControlName="licencia">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Doc. Identidad</mat-label>
                <input matInput formControlName="docIdentidad">
            </mat-form-field>
        </div>
        <div style="display: flex; gap: 5px;">
            <mat-form-field appearance="outline">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
        </div>

        <div style="display: flex; gap: 5px;">
            <mat-form-field appearance="outline">
                <mat-label>Numero Ruc</mat-label>
                <input matInput formControlName="empTransRuc">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Empresa Transporte</mat-label>
                <input matInput formControlName="empTransNombre">
            </mat-form-field>
        </div>


        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option value="A"> Activo </mat-option>
                <mat-option value="I"> Inactivo </mat-option>
            </mat-select>
        </mat-form-field>

        <app-form-errors [form]="conductorForm" [errorMessages]="conductorErrorMessages"></app-form-errors>




    </form>
</mat-dialog-content>

<mat-dialog-actions style="display: flex; justify-content: space-evenly;">

    <button mat-fab extended (click)="onCancel()">
        <mat-icon style="color: red;">cancel</mat-icon>
        Cancelar
    </button>


    @if(loadingSave){
    <button mat-fab extended>
        <div style="display: flex; gap: 5px;">
            Grabando...
        </div>
    </button>
    }

    @if(!loadingSave){
    <button mat-fab extended (click)="onSubmit()">
        <mat-icon>save</mat-icon>
        Grabar
    </button>
    }

</mat-dialog-actions>