.container-mntconductor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    /* background-color: pink; */
}


.section-controls {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.cabecera {
    text-align: center;
    padding: 0px 0px !important;
    background-color: #7d9ad6;
    color: white;
    border: 1px solid #ccc !important;
    border-radius: 5px;
}



@media (max-width: 768px) {
    .container-mntUser {
        margin: 5px;
        gap: 5px;
    }

    .section-controls {
        flex-direction: column;
        gap: 10px;
        padding: 3px;
    }

    .cabecera {
        font-size: 1rem;
        padding: 4px 0 !important;
    }
}


@media (max-width: 600px) {
    .container-mntUser {
        margin: 5px;
        gap: 5px;
    }

    .section-controls {
        flex-direction: column;
        gap: 20px;
        padding: 3px;
    }

    .cabecera {
        font-size: 1rem;
        padding: 4px 0 !important;
    }

    /* .mat-paginator-page-size-label {
        display: none !important;
    } */

    :host ::ng-deep .mat-mdc-paginator-page-size-label {
        display: none !important;
    }
    
}